<%layout("/layouts/boilerplate.ejs")%>
<body>
    <div class="row ">
    <div class="col-8 offset-2">
      <h3 class="mt-3">Edit your place details</h3>
      <form method="post" action="/Listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
         <lable for="title" class="form-label">Title</lable>
         <input type="text" name="listing[title]"  class="form-control" required value="<%=listing.title%>">
         <div class="invalid-feedback">please enter valid title</div>
        </div>
           <div class="mb-3">
          <lable for="description" class="form-label">Description</lable>  
         <textarea name="listing[description]" class="form-control"  required ><%=listing.description%></textarea>
         <div class="invalid-feedback">please enter valid Description</div>
         </div>
         <div class="mb-3">
          <label for="image" class="form-label">Upload image</label>  
         <input name="listing[image]" class="form-control"  type="file" value="<%=listing.image.filename%>">
         </div>
         <div class="row">
         <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>  
         <input  class="form-control" required value="<%=listing.price%>" name="listing[price]">
         <div class="invalid-feedback">please enter valid price</div>
         </div>
         <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <select name="listing[country] " class="form-control">
            <option value="India" selected>India</option>
          </select>
         </div>
        </div> 
         <div class="row">
        <div class="mb-3 col-md-4">
            <label for="category" class="form-label">Category</label>
            <select name="listing[category]" class="form-control">
              <option value="Hostal">Hostal</option>
              <option value="Individual">Individual</option>
            </select>
        </div>
        <div class="mb-3 col-md-8">
          <label for="room" class="form-label">Type</label>
          <select name="listing[room]" class="form-control">
            <option value="Single Room">Single Room</option>
            <option value="1 BHK">1 BHK</option>
            <option value="2 BHK">2 BHK</option>
            <option value="3 BHK">3 BHK</option>
          </select>
      </div>
      </div>
      <div class="mb-3">
        <label for="city" class="form-label">City</label>
        <select name="listing[city]" class="form-control">
          <option value="Indore">Indore</option>
          <option value="Bhopal">Bhopal</option>
        </select>
    </div>
       
       <div class="mb-3">
       <label for="location" class="form-label">Location</label>
       <input type="text" name="listing[location]" required value="<%=listing.location%>" class="form-control">
       <div class="invalid-feedback">please enter valid Location</div>
       </div>
         <button class=" btn btn-dark mb-3">Submit</button>
      </form>
      </div>
      </div>
</body>