<%layout("/layouts/boilerplate.ejs")%>
<body>
    <div class="row ">
    <div class="col-8 offset-2">
      <h3 class="mt-3">Edit your Listing</h3>
      <form method="post" action="/Listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
         <lable for="title" class="form-label">Title</lable>
         <input type="text" name="listing[title]"  class="form-control" required value="<%=listing.title%>">
         <div class="invalid-feedback">please enter valid title</div>
        </div>
           <div class="mb-3">
          <lable for="description" class="form-label">Description</lable>  
         <textarea name="listing[description]" class="form-control"  required ><%=listing.description%></textarea>
         <div class="invalid-feedback">please enter valid Description</div>
         </div>
          <div class="mb-3">
            <p>Original image </p>
            <img src="<%=OriginalImageUrl%>"/>
          </div>
         <div class="mb-3">
          <label for="image" class="form-label">Upload image</label>  
         <input name="listing[image]" class="form-control"  type="file" value="<%=listing.image.filename%>">
         </div>
         <div class="row">
         <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>  
         <input  class="form-control" required value="<%=listing.price%>" name="listing[price]">
         <div class="invalid-feedback">please enter valid price</div>
         </div>
         <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label> 
            <input type="text" name="listing[country]" class="form-control" required value="<%=listing.country%>">
            <div class="invalid-feedback">please enter valid country</div>
            </div>
       </div>
         <div class="mb-3">
         <label for="location" class="form-label">Location</label>
         <input type="text" name="listing[location]" class="form-control" required value="<%=listing.location%>">
         <div class="invalid-feedback">please enter valid Location</div>
         </div>
         <button class=" btn btn-dark mb-3">Submit</button>
      </form>
      </div>
      </div>
</body>